################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/RinhaInterpreter/.vs/RinhaCompiler
/src/RinhaInterpreter/RinhaCompiler/obj
/src/RinhaInterpreter/RinhaCompiler/bin/Debug/net6.0
/src/RinhaInterpreter/.vs/RinhaInterpreter/v17
/src/RinhaInterpreter/.vs
/src/RinhaInterpreter/RinhaInterpreter/bin/Debug/net6.0
/src/RinhaInterpreter/RinhaInterpreter/obj/Debug/net6.0
/src/RinhaInterpreter/RinhaInterpreter/obj
